<div class="page">
    <h1>Über HAWK-KI</h1>
    <p>Das HAWK-KI-Projekt, ursprünglich im Interaction Design Lab der HAWK als Open-Source-Initiative entwickelt, bietet eine innovative Plattform zur Integration künstlicher Intelligenz in Arbeitsprozesse. Es fördert den Austausch und die Entwicklung neuer Arbeitsmethoden sowie Diskussionen über den Einsatz von K.I. in der Hochschulgemeinschaft. Das Projekt zielt darauf ab, ein tieferes Verständnis für die Funktionsweise von Sprachmodellen zu schaffen und bietet didaktische Unterstützung durch effektive Prompts in verschiedenen Bereichen.</p>
    <p>Die Deutsche Weiterbildungsgesellschaft mbH (DWG) hat HAWK für die Fernhochschulstandorte der Klett-Verlagsgruppe modifiziert und implementiert.</p>
    <h2>DWG-Team</h2>
    <p>
        <a href="mailto:philipp.hoellermann@dwg.de">Philipp Höllermann</a> | CTO<br/>        
	<a href="mailto:svenja.schmidt@dwg.de">Svenja Schmidt</a> | Projektmanagerin<br/>
        <a href="mailto:christian.spiecker@dwg.de">Christian Spiecker</a> | Applied AI
	<a href="mailto:marlon.kress@dwg.de">Marlon Kress</a> | Applied AI<br/>
    </p>
    <h2>HAWK-Team</h2>
    <p>
        <a href="mailto:stefan.woelwer@hawk.de">Prof. Stefan Wölwer</a> | Digital Environments | Interaction Design <br/>
        <a href="mailto:jonas.trippler@hawk.de">Jonas Trippler</a> | Wissenschaftlicher Mitarbeiter | Hands On<br/>
        <a href="mailto:vincent.timm2@hawk.de">Vincent Timm</a> | Wissenschaftlicher Mitarbeiter | Leitung Interaction Design Lab
    </p>

    
</div>

<style>
	.input-container{
		display: none;
	}
</style>